.footer,
.footerMobile {
  background: var(--grey-3);
  height: 93px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  display: grid;
  align-items: center;
  justify-content: center;
}
.footerMobile {
  height: 70px;
  font-size: 10px;
}
