.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 38px 64px 0 64px;
}

.wrapper {
  display: inline-flex;
  width: 243px;
  align-items: center;
  cursor: pointer;
}
.icon {
  height: 25px;
  width: 25px;
}

.wrapper h2 {
  font-size: 17px;
  margin-left: 16px;
}

.wrapperSearchBar {
  display: flex;
  justify-content: center;
}

.inputSearch {
  appearance: none;
  background-color: var(--grey-3);
  background-image: url(../../Assets/busca.svg);
  background-repeat: no-repeat;
  background-position: 12px center;
  border: none;
  margin: 0;
  padding: 5px 50px;
  border-radius: 12px;
  height: 47px;
  width: 640px;
  max-width: 640px;
}

.inputSearch:focus {
  outline: 1px solid var(--orange-2);
}

.order {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-end;
}

.order > select {
  appearance: none;
  width: 207px;
  height: 47px;
  padding-left: 34px;
  background: var(--grey-3);
  border: none;
  border-radius: 12px;
  font-size: 17px;
  outline: none;
  cursor: pointer;
}
