.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 36px 64px;
  /* width: 1312px; */
}

.wrapper input {
  cursor: pointer;
  appearance: none;
  display: inline-block;
  min-width: 304px;
  height: 50px;
  background-color: var(--white-1);
  border: 1px solid var(--grey-2);
  border-radius: 16px;
  margin-left: 15px;
  margin-right: 15px;
}

.wrapper input:checked {
  color: green;
  border: 1px solid green;
}

.wrapper input::before {
  content: attr(placeholder);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 17px;
  font-weight: bold;
}

@media (max-width: 750px) {
  .wrapper input {
    width: 150px;
    height: 50px;
  }
}
