.wrapper {
  margin-bottom: 1rem;
}

.input {
  border: 1px solid var(--orange-2);
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  height: 50px;
  padding: 0.8rem;
  border-radius: 0.4rem;
  transition: 0.2s;
}

.input[type='text']:focus {
  outline: none;
}

[type='radio'] {
  box-sizing: border-box;
  appearance: none;
  display: inline-block;
  cursor: pointer;
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid var(--orange-2);
  transition: 0.2s;
  margin-right: 10px;
}

[type='radio']:checked::after {
  content: '';
  background-color: var(--orange-2);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  bottom: 5px;
}

[type='checkbox'] {
  appearance: none;
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 30px;
  background-color: white;
}

input[type='checkbox']:checked::after {
  content: '';
  position: absolute;
  left: 10px;
  bottom: 9px;
  width: 8px;
  height: 18px;
  border-right: solid 3px var(--white-1);
  border-bottom: solid 3px var(--white-1);
  transform: rotate(45deg);
}
